
.interna_produto{
    background: url(../img/bg-produtos.jpg)no-repeat center;
    background-size: cover;
    
}

.produtos h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    top: -190px;
    text-align: center;
    margin-bottom: -100px;
}

.produtos h2:before, .produtos h2:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 14px auto 10px auto;
    }


.produtos_listas-img.missao_produto{
   padding: 70px 40px;
   
}
.missao_produto{
    padding: 20px 0;
}

.produto_info {
    background: #000;
    color: white;
    height: 280px;
    
    margin-top: 20px;

}


.produto_info p{
    padding: 30px;
}
.produto_info ul {
    padding-top: 60px;
    width: 100%;
    display: block;
   
}


.produto_info ul li{
    background: yellowgreen;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    float: left;
    width: 229px;
    height: 49px;
    padding-top: 15px;
    
    
    

}
.produto_info ul li:nth-child(odd){
    margin-right: 2px;
    margin-bottom: 2px;
}


